.app{
    overflow: hidden;
    background: #F9F6F4;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    height: 100vh;
    min-height: 100vh;
    padding: 17px 32px 32px 32px;
    justify-content: space-between;
    &__left{
        flex:1;
        padding-right: 36px;
        min-height: 100%;
    }
    &__right{
        flex:5;
        height: calc(100% - 88px);
        min-height: calc(100% - 88px);
    }
}
.overlay{
    position: fixed;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    border-radius: 24px;
}