.checkTicket{
    width: 100%;
    height: 100%;
    // min-height: 100vh;
    color: #1E0D03;
    &__container{
        display: flex;
        height: 100%;
        width: 100%;
    }
    & h1{
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        margin:0;
        padding-bottom: 30px;
    }
    &__main{
        flex:3;
        border-radius: 24px;
        background: #FFFFFF;    
        padding:24px 24px 0 24px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
    &__filter{
        border-radius: 24px;
        background: #FFFFFF;
        margin-left: 24px;
        flex:1;
        display: flex;
        flex-direction: column;
        padding: 24px 48px 0 24px;
        & h2{
            color: #1E0D03;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 32px;
        }
        & h3{
            color: #1E0D03;
            opacity: 0.8;
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
        }
        &--status,&--type,&--date{
            margin: 24px;
            display: flex;
            & h3{
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        &--type{
            & span{
                color: #1E0D03;
                opacity: 0.7;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
            }
        }
        &--radio{
            &-group{
                margin-bottom: 16px;
                display: flex;
                align-items: center;
                & input{
                    margin-right: 8px;
                    width: 24px;
                    height: 24px;
                }
            }
        }
        &-bottom{
            align-self: center;
            
            & button{
                transition: 0.125s;
                &:hover{
                    color:#fff;
                    background-color: #FF993C;
                }
                cursor: pointer;
                color: #FF993C;
                font-weight: 700;
                font-size: 18px;
                line-height: 26px;
                border-radius: 8px;
                border: 1px solid #FF993C;
                width: 160px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
            }
        }
    }
    &__type{
        margin-bottom: 30px;
        & span{
            cursor: pointer;
            margin-right: 40px;
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            padding-bottom: 4px;
            border-radius: 3px;
        }
        &--active{
            color:#FF993C;
            border-bottom: 3px solid #FF993C;
        }
    }
    &__top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }
    &__table{
        width: 100%;
        border-collapse: collapse; 
        & thead{
            background: #F1F4F8;
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
            height: 48px;
            color: #1E0D03;
        }
        & th{
            border: none;
            padding: 0 10px;
            text-align: start;
            &:nth-child(1){
                text-align: center;
            }
        }
        & tr{
            height: 48px;
            
        }
        & td{
            border: none;
            padding:0 10px;
            &:nth-child(1){
                text-align: center;
            }
            &:nth-child(6){
                color: #FD5959;
            }
        }
    }
    &__bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex:1;
        justify-content: space-between;
    }
}